.container.body-content
    h2 About
    .col-md-12
      ul(style="margin-top: 25px;")
        li
          | My Name is,
          a(href="http://linkedin.com/in/Aarsh", target="_blank") Aarsh Talati
        li
          | Wordpress Blog :
          a(href="http://wildclick.wordpress.com/code", target="_blank") Wild Click
        li
          | My résumé :
          a(href="https://1drv.ms/b/s!AnPZ7CAp8Xi0jocezzFgJ3pvHg9htw", target="_blank") https://1drv.ms/b/s!AnPZ7CAp8Xi0jocezzFgJ3pvHg9htw
        li
          | Technologies / Packges Used : NodeJS, NPM, Bower, Express, Jade, Bootstrap, AngularJS, Heroku
        li
          a(href="https://github.com/ablaze8/", target="_blank") GitHub Repository
        li
          | More @
          a(href="http://1drv.ms/1AfcPrI", target="_blank") http://1drv.ms/1AfcPrI
      br
      br
      div
        b My other app(s) :
        br
        br
      ul
      li
          a(href="http://ngkendo.apphb.com/", target="_blank") ngKendo (AnuglarJS + Kendo UI Core)
        li
          a(href="http://spaodata.apphb.com/", target="_blank") SPA OData
        li
          a(href="http://movieapp-2.apphb.com/about", target="_blank") Movie App
